.blok_for_aboutus{
    margin-bottom:30px;
}
.zagolovok{
   text-align:center;
}
.zagolovok h1{
    font-size:30px;
}
.blok_for_aboutus{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
.link_aboutus{
    display: flex;
    justify-content: center;
}
.aboutus{
    margin-top:80px;
    width: 70%;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
    font-size: 20px;
}
.img_aboutus{
    width: 150px;
}
.text h2{
    font-size:20px;
}

@media (max-width: 1023px){
    .aboutus{
        width: calc(90% - 30px);
        font-size: 15px;
        padding: 15px;
    }
    .text{
        width: 99%;
    }
    .zagolovok h1 {
        font-size: 25px;
    }
    .text h2{
        font-size: 18px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px){
    
}


